body { 
	margin:0; 
	padding:20px; 
	font:30px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    width:95%;
    background-color: black;
    color: gray;
}

input, select {
   font-size: 22px;
   padding: 20px;
   width: 300px;
   height: 70px;
}

input[class="program_button"] {
   width: 500px;
}

.data {
    font:60px "Courier New";
}

.program_setting {
    height: 70px;
    font-size: 24px;
    width: 100%;
}

input[name="stop"] {
   background-color: #806666;
   color: lightgray;
}

input[name="skip"] {
   background-color: #806666;
   color: lightgray;
}

input[id="delete"] {
   background-color: #FF2020;
   color: lightgray;
}

input[class="oddball"] {
    background-color: #6699FF;
    color: lightgray;
}

td[class="step_id"] {
   font-size: 0px;
}

td[class="program_step"] {
    width: 25%;
}

td[class="data"] {
    width: 5%;
}

table {
    width: 50%;
}

thead {
    background:#91c5d4;
}

thead th[colspan],
thead th[rowspan] {
	background:#084B8A;
}

tbody[class="setting"],
tfoot[class="setting"] {
	text-align:center;
	background:#d5eaf0;
}

tbody[class="setting"] th {
    background:#b0cc7f;
}

tbody[class="setting"] td {
    background:#d7e1c5;
}

tr[class="current_step"] {
    background:#7f5200;
    font-weight:bold;
}

tr[class="completed_step"] {
    color:#a8a8a8;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

li {
    float:left;
}

a[class="breadcrumb"]{
    display:block;
    width:200px;
}

a[class="breadcrumb"]:link, a[class="breadcrumb"]:visited {
    font-weight:bold;
    color: gray;
    background-color:#084B8A;
    text-align:center;
    padding:4px;
    text-decoration:none;
}

a[class="breadcrumb"]:hover, a[class="breadcrumb"]:active {
    background-color: #084B8A;
}

#left {
    float: left;
    width: 45%;
}

#right {
    float: right;
    width: 55%;
}
